*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.input{
    padding: 0.5rem;
    border: 2px gray solid;
    border-radius: 2px;
    font-size: 1.5rem;
    width: 100%;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input{
    width: 100%;
    max-width: 600px;
}

.container-header{
    display: flex;
    align-items: center;
}

.text-sub{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

.btn-submit{
    padding: 0.5rem;
    background-color: #0284c7;
    color: white;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 2px;
}

.btn-copy{
    border: none;
    background-color: white;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-copy:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}

#container-output{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 50px;
}

.output{
    padding: 1rem;
    display: flex;
}